/* #container {
  background-color: blue;
  width: 100%;
}
*/


header, main, #experience, #education, #skills, #contact {
  font-family: 'Poppins', sans-serif;
}



header {
  background-color: purple;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url('../img/header-01.png');
  background-size: 100% auto;
  font-family: 'Poppins', sans-serif;
}

main h2 {
  color: white;
}

main {
  background-color: orange;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}


#experience {
  background-color: pink;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#education {
  background-color: silver;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#skills {
  background-color: orange;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}



#contact {
  background-color: yellow;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}
