/* #container {
  background-color: blue;
  width: 100%;
}
*/


header, main, #experience, #education, #books, #contact {
  font-family: 'Poppins', sans-serif;
}



header {
  background-color: purple;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url('../img/header-01.png');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

main h2 {
  color: #FF6312;
}


main {
  background-color: #FFFBE1;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}


#experience {
  background-color: #FF9425;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}

#experience h3 {
  color: white;

}

#about, #jobs {
  width: 70%;
  margin: auto;
}

.p20 {
  padding-top: 20px;
}

.p30 {
  padding-top: 30px;
}

.p50 {
  padding-top: 50px;

}

#education h2 {
  color: #FF6312;

}

#education {
  background-color: #FFFBE1;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}


#books {
  background-color: #FF6312;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}



#contact {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

}
